<a href="https://colab.research.google.com/github/anjha1/INTERNSHIP/blob/main/python(Vault_of_Codes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

>                                                     Vault of Codes (Python)

Name = Achhuta Nand Jha

> Assignment 1:

.

.



```
# Task1: Review the following codes, find and fix errors and explain the error
```

Code Snippet 1: Variable Name Typo

In [ ]:
numbers_of_apples = 5
print(numbers_of_apple)

> **Error to Expect: NameError** The error occurs because the variable numbers_of_apple is referenced in the print statement, but it has not been defined. The variable that was defined is numbers_of_apples.

> **Corrected Code**To fix this, we need to ensure that the variable name used in the print statement matches the variable name defined earlier.

In [ ]:
numbers_of_apples=5
print(numbers_of_apples)

5

>**Explanation**

*   The variable numbers_of_apples is defined and assigned a value of 5.
*   In the print statement, numbers_of_apples is correctly referenced, so it will output the value 5.

**Output of the Corrected Code** By ensuring that the variable name is consistently spelled throughout the code, we avoid the NameError.

.

.

**Code Snippet 2:** Accessing List Elements Out of Range

In [ ]:
fruits=["apple","banana","cherry"]
print(fruits[3])

>**Error to Expect: IndexError**
The error occurs because the code attempts to access the element at index 3 in the fruits list, but the list only has three elements, with indices 0, 1, and 2.

> **Corrected Code**
To fix this, we need to access an index that is within the range of the list's indices. If you want to access the third element, you should use index 2.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[2])

cherry

>**Explanation**

*   The list fruits has three elements: "apple", "banana", and "cherry".
*   List indices start at 0, so the elements are at indices 0, 1, and 2.
*  Attempting to access fruits[3] results in an IndexError because there is no element at index 3.

>**Output of the Corrected Code**



```

cherry
```



>By accessing the correct index, we avoid the IndexError and successfully print the third element in the list.

.

.

**Code Snippet 3:** Function Not Behaving as Expected

In [ ]:
def find_average(numbers):
  sum=0
  for number in numbers:
    sum+= number
  average= sum / len(numbers)
  return average
numbers=[1,2,3,4,5,"6"]
average=find_average(numbers)
print(f"The average is :{average}")

>**Error to Expect: TypeError**

The error occurs because the list numbers contains a string "6" instead of an integer. When Python attempts to add this string to the sum, it will raise a TypeError because the += operator cannot add an integer and a string.

>**Corrected Code**


To fix this, we need to ensure that all elements in the list are converted to integers before performing arithmetic operations. We can use a list comprehension to convert all elements to integers.

In [ ]:
def find_average(numbers):
  sum = 0
  for number in numbers:
    sum += int(number)
  average = sum / len(numbers)
  return average

numbers = [1, 2, 3, 4, 5, "6"]
average = find_average(numbers)
print(f"The average is: {average}")

The average is: 3.5

**Explanation**

*   The list numbers contains a string "6" that needs to be converted to an integer.

*   Using int(number) inside the loop ensures that all elements are treated as integers before adding them to the sum.



*   The sum is correctly calculated, and the average is then computed by dividing the sum by the length of the list.

>**Output of the Corrected Code**


```
 The average is: 3.5

```
By converting all elements to integers, we avoid the TypeError and correctly calculate the average of the list.

.

.

**Exercise 4:** Incorrect Dictionary Usage

In [ ]:
def update_record(records, name, score):
    if name in records:
        records[name].append(score)
    else:
        records[name] = score

student_records = {"Alice": [88, 92], "Bob": [70, 85]}
update_record(student_records, "Charlie", 91)
update_record(student_records, "Alice", 95)

print(student_records)

> **Error to Expect: AttributeError**


The error occurs because the code does not correctly handle the assignment of a new score to a student who is not already in the records. Specifically, the code assigns the score directly to records[name] when the student is not found, but this should be a list containing the score.

>**Corrected Code**

To fix this, we need to ensure that when a new student is added to the dictionary, their score is stored as a list containing that score.

In [ ]:
def update_record(records, name, score):
    if name in records:
        records[name].append(score)
    else:
        records[name] = [score]  # Initialize with a list containing the score

student_records = {"Alice": [88, 92], "Bob": [70, 85]}
update_record(student_records, "Charlie", 91)
update_record(student_records, "Alice", 95)

print(student_records)

{'Alice': [88, 92, 95], 'Bob': [70, 85], 'Charlie': [91]}

>**Explanation**

*   When a student's name is not already in the records dictionary, the else clause is executed.

*   In the else clause, records[name] is correctly initialized with a list containing the score ([score]).
*   This ensures that the value associated with each key in the dictionary is always a list.

**Output of the Corrected Code**



```
{'Alice': [88, 92, 95], 'Bob': [70, 85], 'Charlie': [91]}

```


By initializing the value as a list when a new student is added, we avoid the AttributeError and ensure that all scores are stored as lists in the dictionary.

In [ ]:
import numpy as np
array=np.array([[1,5,7],[8,9,7]])
print(array)

[[1 5 7]
 [8 9 7]]